html{
    color: black;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: flex-end;
    height: 60px;
    background-color: black;
   
}
.speaking-item{
 color: aliceblue;
 background-color: grey;
 margin-right: 8px;
 padding: 4px;
 border-radius: 9px;
}


body{
    height: 100vh;
    background-color: black;
}
.item{
    display: flex;
    color:white;
    background-color: grey;
    padding: 2px;
    border-radius: 3px;
}
.fa-light{
    color: white;
}
.fa-solid{
    color: white;
}
.participants-container{
    display: flex;
    height: calc(100vh - 60px - 100px);
    background-color: black;
    flex-wrap: wrap;
   
}
.card{
    position: relative;
    /* width: calc(100% / 7); */
    margin: 5px 39px;
}
.speaker{
    position: absolute;
    bottom: 36px;
    background-color: rgba(128, 128, 128, 0.6 );
    padding: 5px;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:grey;
    
}
.footer-section{
    display: flex;
    align-items: center;
}
.icons-set{
    display: flex;
    align-items: center;
    gap: 5px;
}












